__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
.git/
.gitignore
*.egg-info/
dist/
build/
.venv/
venv/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
**/.ipynb_checkpoints/
.vscode/
.idea/
docs/_build/
notebooks/.ipynb_checkpoints/
*.py